{% extends "main.html" %}
{% load i18n %}
{% block content %}
<hr>
    <h1>{% translate "Customer Details" %}</h1>
    <hr>
  <h1>{{ customer.name }}</h1>
  <p>Price: {{ customer.email }}</p>
  <p>Created_at: {{ customer.created_at }}</p>
<hr>
        <h3>{% translate "Customer Order Details" %}</h3>
<hr>
    <hr>
    <div class="d-flex d-flex-inline"><span class="pe-2">{% translate "Customer's Name:"  %}</span> <h5>{{ customer.name|title }}</h5></div>
    <hr>
    {% for order in customer.orders.all %}
        <div class="small">{% translate "Order id: " %} {{ order.pk }}</div>
        <div>Status: {{ order.complete }}</div>
        <hr>
        {% endfor %}
 <p>
        <a href="{% url 'customer_order_update' pk=customer.pk %}" role="button" class="btn btn-primary w-100 mb-2">{% translate "Edit Customer Order" %}</a>
        <a href="{% url 'fvhome_customerlist' %}" role="button" class="btn btn-secondary w-100">{% translate "All Collection" %}</a>
    </p>

{% endblock %}
i