{% extends 'main.html' %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<hr>
    <h3>Update Customer Orders</h3>
<hr>
    {% for order_form in forms.forms %}
        <hr>
        <h5>
        {% if order_form.instance.id %}
            Order: {{ order_form.instance.transaction_id }}
        {% else %}
            {% if form.forms|length > 1 %}
                Add another order
                {% else %}
                    Add a order
                {% endif %}
        {% endif %}

        </h5>
        <table>
        {{ order_form.as_table }}
      </table>
    {% endfor %}
    <hr>

    <p>
      <button type="submit" value="Update order" class="btn btn-primary w-100 mb-3">Update Orders</button>
      <a href="{{ customer.get_absolute_url  }}" role="button" class="btn btn-secondary w-100">Cancel</a>
    </p>

    </form>

{% endblock %}