{#<?xml version="1.0" encoding="UTF-8"?>#}
{#<rss version="2.0">#}
{#  <channel>#}
{#    <title>Latest Products</title>#}
{#    <link>http://localhost:8000/en/product_list/</link>#}
{#    <description>A feed of the latest products</description>#}
{##}
{#    {% for product in items %}#}
{#      <item>#}
{#        <title>{{ product.name }}</title>#}
{#        <description>{{ product.price }}</description>#}
{#        <link>{{ product.get_absolute_url }}</link>#}
{#      </item>#}
{#    {% endfor %}#}
{#  </channel>#}
{#</rss>#}



{#    {% for product in items %}#}
{#      <li>#}
{#        <h2>{{ product.name }}</h2>#}
{#        <p>{{ product.price }}</p>#}
{#        <a href="{{ product.get_absolute_url }}">View Product</a>#}
{#      </li>#}
{#    {% endfor %}#}

{{ obj }}